.listItem {
  margin: 30px 0;
  padding: 10px 20px;

  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #ccc; /* 设置边框阴影 */
  transition: box-shadow 0.3s ease-in-out; /* 添加过渡效果 */

  &:hover {
    box-shadow: 7px 7px 14px #ccc; /* 添加浮起效果 */
  }

  .listItemTitle {
    margin: 10px 0;
    color: #333;
    font-weight: bold;
    font-size: 54px;
  }

  .listItemIconGroup {
    margin: 20px 20px;
    color: #999;
    font-size: 24px;

    .listItemIcon {
      margin: 0 5px;
    }
  }

  .listItemContent {
    margin: 5px 0;
    color: #666;
    font-size: 16px;
  }
}
